<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registo</title>
</head>
<body>
    <form action="/registrar" method="post">
        <label for="">Nome: </label>
        <input type="text" name="nome"><br>

        <label for="">Idade: </label>
        <input type="number" name="idade"><br>

        <!-- <button type="submit"> </button> -->
        <input type="submit" value="Registrar">
    </form>

    <a href="/vizualizar">Lista de Registrados</a>
</body>
</html>