<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <h1>Minhas Habilidade</h1>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Aenean lacinia metus at augue tempor, at sollicitudin velit venenatis.</li>
    <li>Duis et quam pellentesque, gravida arcu tempus, efficitur neque.</li>
    <li>Curabitur bibendum purus sit amet purus ultricies elementum.</li>

    <a href="/home">Home</a><br>
    <a href="/sobre">Sobre</a>
</body>
</html>